.App {
  text-align: center;
  background-image: url("https://earthsky.org/upl/2019/01/astronaut-black-hole-illustration.jpg");
  position:fixed;
  min-width: 100%;
  min-height:100%;
  background-size: cover;
  background-position: center;
}

.h1{
  color:red;
  font-size: 30px;
}
.h3{
  background-color: red;
  color: red;
}


.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

